<mat-grid-list cols="4" rowHeight="5:1">
  <mat-grid-tile>
   
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Nueva!</mat-label>
      <select matNativeControl required>
        <option value="Limpia">Limpia</option>
        <option value="Clonar">Clona</option>       
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile >
    <mat-form-field appearance="fill">
      <mat-label>Selecciona Versión</mat-label>
      <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
      </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<hr>
  