  <div class="card mb-3" style="max-width:99%;">
    <div class="row no-gutters">
      <div class="col-md-2"></div>
      <div class="col-md-2">     
        <img class="rounded-circle z-depth-2" width="100rem" height="100rem" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
        data-holder-rendered="true">
      <app-appuploadimage></app-appuploadimage>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h2 class="card-title texto-centro" >Reporte de Valoración Integral </h2>
          <p class="card-text texto-centro">Lidia V.</p>
          <p class="card-text text-secondary texto-centro">Gerente de Rec.Y Sel.</p>
        </div>
      </div>
      <div class="col-md-2">
        <p class="text-lg-right mb-3">
          <button mat-mini-fab color="warn" onClick="window.open('https://drive.google.com/file/d/1YV5yYp9rHVd4VsRjgoYy0bFjZnJOEMpT/view?usp=sharing')" aria-label="Example icon button with a filter list icon">
            <mat-icon>archive</mat-icon>
          </button>
        </p>
      </div>
      <div class="col-md-2"></div>     
    </div>
  </div>

