.example-container {
    height:10px; max-height: 20px;
    width: 65%;
    max-width: 100%;
    overflow:scroll ;
    z-index: 1;
    left:14rem;
    position: relative;
  }
  table {
    width: 60%;
    
    
  }