$colorPeople:rgba(47,97,197,1);
$fontTalent3d: Arial;

$BrandFontColor: #FFFFFF;
$BrandFontSize: 1em;
$BrandPaddingLeft:2em;

$FormTitleColor: #2F61C5;
$FormFontSizeTitle: 1.3em;

$TextNormalColor: rgba(66, 64, 64,0.8);
$TextNormalFontSize: 1em;

